body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

h1 {
    background-color: #D4AF37; /* Amarillo mostaza */
    color: white;
    padding: 10px; /* Reducir el padding para hacerlo más pequeño */
    text-align: center;
    margin: 0; /* Eliminar el margen predeterminado */
    border-top-left-radius: 10px; /* Añadir bordes redondeados en la esquina superior izquierda */
    border-top-right-radius: 10px; /* Añadir bordes redondeados en la esquina superior derecha */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px); /* Restar la altura del h1 para que el contenedor ocupe el espacio restante */
}

.camera-container {
    width: 70%; /* Ocupa gran parte del lado izquierdo de la pantalla */
    max-width: 600px; /* Establecer un ancho máximo para la cámara */
    height: calc(63% - 20px); /* Ocupa la altura restante del contenedor, con margen superior e inferior */
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px; /* Agregar margen alrededor de la cámara */
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.controls label {
    margin-bottom: 10px;
}

#hoja {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center; /* Centrar el texto */
    -webkit-appearance: none; /* Ocultar el control de estilo predeterminado de los navegadores webkit */
    -moz-appearance: none; /* Ocultar el control de estilo predeterminado de los navegadores Mozilla */
    appearance: none; /* Ocultar el control de estilo predeterminado */
    cursor: pointer; /* Cambiar el cursor al pasar por encima del select */
}


.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #45a049;
}

.my-button:active {
    background-color: #3e8e41;
}
